img.logo{
  height: 50px;
}
nav.navbar.navbar-default{
    margin-bottom:0px;
}
.app{
  overflow: hidden;
}
.LoginAdminForm{
  margin: 50px auto;
}
.LoginTitle{
  font-size: 30px;
  font-family: source_sans ;
}
.create-panel{
  margin-top: 30px;
}